{% extends '_base.html' %}

{% block page_title %}
Product {{ product.title }}
{% endblock %}

{% block content %}
    {% if product.cover %}
    <img src="{{ product.cover.url }}" alt="{{ product.title }} Cover">
    {% else %}
    <p>No cover image available</p>
    {% endif %}
    <h1>{{ product.title }}</h1>
    <p>{{ product.description }}</p>
    <h4>{{ product.price }}</h4>
    {% if product.seller == user %}
        <a href="{% url 'products:product_update' product.id %}"><button>Edit</button></a>
        <a href="{% url 'products:product_delete' product.id %}"><button>Delete</button></a>
    {% endif %}
{% endblock %}
